/* Le Boitier */
.pipboy-casing {
  width: 85vw;
  height: 85vh;
  max-width: 1400px;
  background: var(--casing);
  border-radius: 30px;
  padding: 30px;
  position: relative;
  border: 4px solid #222;
  box-shadow: inset 0 0 50px #000, 0 0 50px rgba(0, 0, 0, 0.8);
}

/* L'écran */
.screen-container {
  width: 100%;
  height: 100%;
  background: var(--pip-bg);
  border-radius: 20px;
  position: relative;
  border: 2px solid var(--screen-border);
  overflow: hidden;
  box-shadow: inset 0 0 80px rgba(0, 0, 0, 0.8);
}

/* Effets visuels */
.screen-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.vignette {
  background: radial-gradient(circle, transparent 65%, black 100%);
}
.crt-overlay {
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  background-size: 100% 3px, 3px 100%;
  animation: flicker 0.15s infinite;
}

/* Vis de déco */
.screw {
  position: absolute;
  width: 20px;
  height: 20px;
  background: radial-gradient(circle, #888, #222);
  border-radius: 50%;
  box-shadow: 0 2px 4px #000;
}
.tl {
  top: 15px;
  left: 15px;
}
.tr {
  top: 15px;
  right: 15px;
}
.bl {
  bottom: 15px;
  left: 15px;
}
.br {
  bottom: 15px;
  right: 15px;
}

/* Layout interne */
.ui-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.ui-header {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--pip-green);
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
#content-area {
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
  z-index: 15;
  padding-right: 10px;
}
.ui-footer {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  border-top: 2px solid var(--pip-green);
  padding-top: 15px;
  z-index: 20;
}
