/* --- STYLES SYNTHWAVE (Transition) --- */

/* Fond principal (Ton Bleu/Violet) */
#transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1a112c; /* Le fond de ton site BUT2 */
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease-in;
  overflow: hidden;
}

/* Classe active ajoutée par JS */
#transition-overlay.active {
  opacity: 1;
  pointer-events: all;
}

/* GRILLE 3D (Accents Magenta #e056fd) */
.synthwave-grid {
  position: absolute;
  bottom: -50%;
  left: -50%;
  width: 200%;
  height: 100%;
  background-image: linear-gradient(
      rgba(224, 86, 253, 0.4) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(224, 86, 253, 0.4) 2px, transparent 2px);
  background-size: 60px 60px;
  transform: perspective(500px) rotateX(60deg);
  animation: grid-move 1.5s linear infinite;
  box-shadow: 0 0 100px rgba(224, 86, 253, 0.3);
}

/* SOLEIL RÉTRO (Gradient Cyan #00f3ff vers Magenta #e056fd) */
.synthwave-sun {
  width: 220px;
  height: 220px;
  background: linear-gradient(to bottom, #00f3ff, #e056fd);
  border-radius: 50%;
  position: absolute;
  top: 15%;
  box-shadow: 0 0 80px #e056fd;
  /* Effet de découpe (stores vénitiens) */
  -webkit-mask-image: linear-gradient(
    to bottom,
    black 0%,
    black 50%,
    transparent 50%,
    transparent 55%,
    black 55%,
    black 60%,
    transparent 60%,
    transparent 65%,
    black 65%,
    black 100%
  );
}

/* TEXTE DE CHARGEMENT (Police Press Start 2P) */
.retro-text {
  font-family: "Press Start 2P", cursive;
  font-size: 1.5rem;
  color: #ffffff;
  text-align: center;
  z-index: 20;
  text-shadow: 4px 4px 0px #e056fd; /* Ombre portée solide rose */
  margin-top: 15vh;
  line-height: 2;
  letter-spacing: 2px;
}

.blink-fast {
  animation: blink 0.2s infinite;
}

/* ANIMATION DE LA GRILLE */
@keyframes grid-move {
  0% {
    transform: perspective(500px) rotateX(60deg) translateY(0);
  }
  100% {
    transform: perspective(500px) rotateX(60deg) translateY(60px);
  }
}

/* ANIMATION D'EXTINCTION TV (Shutdown Fallout) */
@keyframes turn-off-anim {
  0% {
    transform: scale(1, 1);
    filter: brightness(1);
  }
  40% {
    transform: scale(1, 0.005);
    filter: brightness(5);
  }
  50% {
    transform: scale(0, 0.005);
  }
  100% {
    transform: scale(0, 0);
  }
}

/* Classe déclenchée par JS sur le body */
body.shutting-down .pipboy-casing {
  animation: turn-off-anim 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}
